#header {
  font-family: 'ProximaNova-Semibold';
}
#site-nav {
  position: relative;
  height: 66px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
#site-nav a,
#site-nav span,
#site-nav select {
  vertical-align: bottom;
}
#site-nav .sub-title {
  margin: 0 8px;
  position: relative;
  top: 1px;
}
#site-nav .logo {
  width: 300px;
  height: 100%;
  border-right: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
#site-nav .logo img {
  height: 37px;
}
#site-nav .search-box {
  position: absolute;
  right: 30px;
  top: 20px;
}
.header-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}
.search-flex {
  flex-grow: 1;
  white-space: nowrap;
  color: #bcbcbc;
  margin-right: 20px;
  border: 0;
}
.search-flex:focus {
  outline: 0;
}
#mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  display: none;
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
}
#mobile-header .menu-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 12px;
  background: url("../images/menu.png") center center no-repeat;
  background-size: 24px;
  opacity: 0.5;
}
#mobile-header .logo {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -15px;
  background-size: 30px;
}
#mobile-header .logo img {
  width: 30px;
  height: 30px;
}
.header-links {
  color: #36ad64;
  margin-right: 25px;
  margin-left: 0px;
}
.search {
  height: 17px;
  margin-right: 15px;
  margin-left: 60px;
}
.github {
  height: 20px;
  margin-right: 10px;
}
#border {
  border-right: 1px solid #000;
  height: 66px;
}
