#header
  font-family 'ProximaNova-Semibold'


#site-nav
  position relative
  height 66px
  background-color #fff
  border-bottom 1px solid #eee
  padding 14px 30px
  a, span, select
    vertical-align bottom
  .sub-title
    margin 0 8px
    position relative
    top 1px
  .logo
    img
      height 37px
  .search-box
    position absolute
    right 30px
    top 20px

.header-container
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content space-between
  align-content stretch
  align-items center

.search-flex
  flex-grow 1
  white-space nowrap

#mobile-header
  position fixed
  top 0
  left 0
  width 100%
  height 40px
  background-color #fff
  display none
  box-shadow 0 0 4px rgba(0,0,0,.25)
  .menu-button
    position absolute
    width 24px
    height 24px
    top 8px
    left 12px
    background url(../images/menu.png) center center no-repeat
    background-size 24px
    opacity .5
  .logo
    position absolute
    top 5px
    left 50%
    margin-left -15px
    background-size 30px

    img
      width 30px
      height 30px

.header-links
  color #36ad64
  margin-right 25px
  margin-left 0px

.search
  height 17px
  margin-right 15px

.github
  height 20px
  margin-right: 10px
