#sidebar
  font-family 'ProximaNova-Semibold'
  border-right 1px solid #eee
  font-size 16px
  line-height 1.1em

  li
    margin-bottom .6em
    padding-left  0

  a
    color #444
    padding-left 22px
    &.current, &:hover
      color #36ad64
    &.H2
      font-weight bold

  > ul > li
    margin-bottom 30px

    margin-left 7px

  .categories > li > p
    border-top 1px solid #eee
    text-transform uppercase
    padding-top 31px
    padding-left 22px
    margin-bottom 1em
    color #999
    font-size 0.8em

  .categories > li:first-child > p
    border-top 0
    line-height: 30px
    margin-left: 0px

  .sub-menu
    font-family 'ProximaNova-Regular'
    padding-left 20px
    margin .6em 0
    font-size 14px
    .active
      position relative
      color #36ad64
      &:before
        content ""
        position absolute
        top 2px
        left -15px
        display inline-block
        width 0
        height 0
        border-top 4px solid transparent
        border-bottom 4px solid transparent
        border-left 6px solid #36ad64

#sidebar-mobile
  display none
  margin-bottom 20px
  .search-box
    width 200px
    margin-bottom 20px
